<!-- About Section -->
    <section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">關於</h2>
                    <h3 class="section-subheading text-muted">我們簡單的回憶</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/time1.jpg" alt="" >
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2014</h4>
                                    <h4 class="subheading">我們開始了這趟旅程</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">希望能為每位顧客帶來愉快的用餐回憶。每一道菜品都凝聚著我們對美食的熱情與用心，力求在味道和服務上做到最好。我們期待與大家分享這份幸福，讓每次用餐都成為值得珍藏的美好時刻。感謝您的支持，讓我們一起創造更多難忘的美好經歷，共同享受生活中的每一口美味！</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/time2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2021-22</h4>
                                    <h4 class="subheading">因應疫情推出的便當</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">因應疫情，我們推出了便當服務，即使面對艱難挑戰，我們仍然會全力以赴，竭盡所能地為每位顧客提供美味的餐點。我們希望能在這段特殊時期，為大家帶來溫暖與支持，讓用餐變得更加便利與安心。</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/time3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2020-</h4>
                                    <h4 class="subheading">員工們的精神伴侶</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">小土狗阿魯咪始終在我們身邊。無論遇到什麼困難，阿魯咪總是能帶來歡笑與安慰，並用牠的獨特魅力解決問題。牠的存在不僅增添了工作氛圍，也讓我們在挑戰中找到支持與力量。</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/time4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2024</h4>
                                    <h4 class="subheading">十年的努力</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">我們的服務品質依然持續提升，但我們需要更多的新血加入團隊。新成員的加入將為我們注入新活力，幫助我們更好地服務顧客。期待與志同道合的你一同成長，共同創造更美好的未來！</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>