<section id="contact">
        <div class="container ta-center">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">聯絡我們</h2>
                    <!-- <h3 class="section-subheading color-orange">許多管道可以更了解我們</h3> -->
                </div>
            </div>
            <div class="row" >
                <div class="col-lg-6" style="height: 500px; align-content: center;">
                    <div class="row">
                        <div class="col-lg-12">                            
                            <p><a class="btn btn-xl bg-color-fb" href="https://www.facebook.com/spr.hana">Facebook 粉絲專業 </a></p>
                        </div>
                        <div class="col-lg-12">
                            <p class="color-white fn-xlarge">電話: 0492998260</p>
                            <p class="color-white fn-xlarge">地址: 南投縣埔里鎮信義路260號</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6" style="height: 500px; align-content: center;"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3645.6315796010485!2d120.9691699793457!3d23.973464700000005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3468d976f4ab6b79%3A0x590ead13124719ca!2z5pil6Iqx54Kt54Gr5Liy54eS!5e0!3m2!1szh-TW!2stw!4v1727525481799!5m2!1szh-TW!2stw" width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
            </div>
        </div>
    </section>
